<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <mirrors>
        <mirror>
            <id>mintegral-mirror</id>
            <mirrorOf>mintegral-repo</mirrorOf>
            <url>https://dl-maven-android.mintegral.com/repository/mbridge_android_sdk_oversea</url>
        </mirror>
    </mirrors>

    <proxies>
        <proxy>
            <id>vpn-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>17890</port>
        </proxy>
    </proxies>
</settings>
